Repository kKen94/angular-boilerplate-rebirth: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run fix, yarn run lint, yarn run fix:style

chore(lint staged): add html to scanning
  .lintstagedrc.json
Due: none

chore(docker): add .dockerignore
  .dockerignore
Due: none

feat(sweetalert): add sweetalert2
  package.json
  src/app/shared/utils/index.ts
  src/app/shared/utils/sweet-helper.ts
Due: yarn run fix, yarn run lint

chore(stylelint scripts): add flag
  package.json
Due: none

chore(stylelint script): remove flag
  package.json
Due: none

refactor(environment): add environment model and naming environments
  src/app/shared/model/environment.ts
  src/environments/environment.prod.ts
  src/environments/environment.staging.ts
  src/environments/environment.ts
Due: yarn run fix, yarn run lint

chore(lint staged): lightened task
  .lintstagedrc.json
Due: none

refactor(parent routing): rename and moved
  src/app/core/routing/routing.module.ts
Due: yarn run fix, yarn run lint

feat(config): load config from external file
  src/app/core/service/config.service.spec.ts
  src/app/core/service/config.service.ts
  src/app/shared/model/config.ts
  src/app/shared/model/index.ts
  src/assets/config/config.dev.json
  src/assets/config/config.prod.json
  src/assets/config/config.staging.json
Due: yarn run fix, yarn run lint

refactor(style files): renamed folder
  src/app/style/_base.scss
  src/app/style/_layout.scss
  src/app/style/_mixins.scss
  src/app/style/_variables.scss
  src/app/style/style.scss
  src/styles.scss
Due: yarn run fix:style

refactor(core): add core module
  src/app/app.module.ts
  src/app/core/core.module.ts
  src/app/core/index.ts
Due: yarn run fix, yarn run lint

chore(paths): add paths
  tsconfig.json
Due: none

fix(config): wrong config file path
  src/app/app.component.html
  src/app/core/service/config.service.ts
  src/test.ts
  yarn.lock
Due: yarn run fix, yarn run lint

feat(translation): add
  .eslintrc.json
  package.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/core/core.module.ts
  src/app/core/service/language.service.spec.ts
  src/app/core/service/language.service.ts
  src/app/shared/model/enum/language.ts
  src/app/shared/model/index.ts
  src/app/shared/model/interface/config.ts
  src/app/shared/model/interface/environment.ts
  src/assets/i18n/en.json
  src/assets/i18n/it.json
  tsconfig.json
  yarn.lock
Due: yarn run fix, yarn run lint

chore(tailwind): manual purge for staging and prod
  package.json
  tailwind.config.js
  webpack.config.js
  yarn.lock
Due: none

feat(http loader): add http loader
  package.json
  src/app/app.component.html
  src/app/core/core.module.ts
  yarn.lock
Due: yarn run fix, yarn run lint

feat(error interceptor): add
  src/app/core/core.module.ts
  src/app/core/interceptor/error.interceptor.ts
Due: yarn run fix, yarn run lint

feat(guard - interceptor): add token interceptor and auth guard
  src/app/core/core.module.ts
  src/app/core/guard/auth.guard.ts
  src/app/core/interceptor/token.interceptor.ts
Due: yarn run fix, yarn run lint

feat(user module): add lazy user module
  src/app/app.component.html
  src/app/app.component.ts
  src/app/core/index.ts
  src/app/core/routing/core-routing.module.ts
  src/app/core/routing/routing.module.ts
  src/app/core/service/config.service.spec.ts
  src/app/module/user/user-layout.component.html
  src/app/module/user/user-layout.component.ts
  src/app/module/user/user-layout.module.ts
  src/app/module/user/user-routing.module.ts
  src/app/module/user/view/user/user.component.html
  src/app/module/user/view/user/user.component.spec.ts
  src/app/module/user/view/user/user.component.ts
  src/app/module/user/view/user/user.module.ts
  src/assets/i18n/en.json
  src/assets/i18n/it.json
  tsconfig.json
Due: yarn run fix, yarn run lint

chore(deps): update keycloak and progress
  package.json
  yarn.lock
Due: none

chore(deps): updates
  .czrc
  .eslintignore
  .eslintrc.json
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.json
  .lintstagedrc.json
  .lintstagedrc.yml
  .stylelintrc.json
  .stylelintrc.yml
  .yarnrc.yml
  Dockerfile
  angular.json
  package.json
  src/app/app.component.scss
  src/app/style/_colors.scss
  src/environments/environment.ts
  src/material.scss
  src/polyfills.ts
  src/styles.scss
  src/test.ts
  tailwind.config.js
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: yarn run fix, yarn run lint, yarn run fix:style

chore(yarn): update to v3.1.1
  .yarnrc.yml
  yarn.lock
Due: none

chore(yarn): node resolution back to node-modules
  .yarnrc.yml
Due: none

Path conditions:
  yarn run fix: any of: src/**/*.{ts,js,html}
  yarn run lint: any of: src/**/*.{ts,js,html}
  yarn run fix:style: any of: src/**/*.scss
